<div>
  <div class="new-todo-form">
    <input #todoName placeholder="Add todo..." class="add-todo-input" />
    <button
      (click)="add(todoName.value); todoName.value = ''"
      class="add-todo-button"
    >
      Add
    </button>
  </div>
  <table>
    <thead>
      <tr>
        <th>Todos</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos">
        <td ><span [ngClass]="{'done': todo.done, 'not-done': !todo.done}">{{ todo.name }}</span></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
